In [2]:
print("Maurine Jebiwott")

Maurine Jebiwott

In [ ]:
#Input()
name =input("Enter your name ")
print("Welcome ", name)

Welcome  Maurine

In [ ]:
#Knowing the type of variable 
num1=10
num2=5.7
#type()
print(type(num1))
print(type(num2))

<class 'int'>
<class 'float'>

In [ ]:
#Arithmetic operation 
x=42
y=6.5

z=x+y
z=x/y
z=x*y
z=x-y

In [7]:
hours = input("Enter hours worked:")
rate = input("Enter the rate of pay:")
pay= float(hours)*float(rate)
pay

14.0

In [9]:
temperature = input("What is the temperature in Celsius?")
farenheit =(float(temperature)*9/5)+32
farenheit

50.0

In [15]:
def temperature_convertor(celcius):
    farenheit =(celcius*9/5)+32
    return farenheit

temperature_convertor(25)

77.0