In [1]:
s='Economics'
s[:7:2]

'Eooi'

String is immutable/ therefore a new string should be used

In [2]:
x=s.replace('E', 'e')
print(x)

economics

Basics string operations

In [ ]:
#concatenating strings 
#repetition 
#Membership

In [3]:
#Concatenating(+)
first_name = 'Maurine'
last_name = 'Jebiwott'
full_name = first_name + ' ' + last_name
print(full_name)

Maurine Jebiwott

In [ ]:
#Repetition(*)
print ("Ha" * 3)

HaHaHa

In [ ]:
#Membership question 
print ('b' in 'Austin')
#the output is always a boolean value 
#Strings are case sensitive

False

In [ ]:
#Membership(n)

Some useful string methods

In [6]:
#casing operartions
sentence ="i love python programming"
print(sentence.capitalize())

I love python programming

In [ ]:
print(sentence.split())
#Making a list of words from a string

['i', 'love', 'python', 'programming']

In [ ]:
sentence ='We are going home, my home is in Nakuru'
print(sentence.split(','))
#The separator is a comma, it can be any character for example a hashtag.

['We are going home', ' my home is in Nakuru']

In [ ]:
#Define the separator the the list of words. 

print('-'.join(['2025', '06', '1']))

2025-06-1

Extracting substrings from strings

In [ ]:
#From stephen.marquad@ uct.ac.za Sat Jan 5 09:14:19 2008

In [5]:
line  = 'From stephen.marquad@ uct.ac.za Sat Jan 5 09:14:19 2008'
words =line.split(' ')
words

['From',
 'stephen.marquad@',
 'uct.ac.za',
 'Sat',
 'Jan',
 '5',
 '09:14:19',
 '2008']

In [23]:
#Splitting emails address
email =words[1]
print(email)

stephen.marquad@

In [19]:
#Splitting the name 
#method find 
at_index = email.find('@')
at_index

15

In [30]:
joined_name = email[0:15]
joined_name

'stephen.marquad'

In [32]:
words

['From',
 'stephen.marquad@',
 'uct.ac.za',
 'Sat',
 'Jan',
 '5',
 '09:14:19',
 '2008']

In [33]:
month= words[4]
month

'Jan'

In [34]:
Day= words[3]
Day

'Sat'

Find() first instance, it can take an argument

We have the following email an timestamps 

line= 'From jebiwottmaurine024@zindua.tech Sat Jun 11:13:00 2025'
Do not use the split method

In [36]:
lines= 'From jebiwottmaurine024@zindua.tech Sat Jan 5 09:14:19 2008'
words_lists = lines.split(' ')
words_lists

['From',
 'jebiwottmaurine024@zindua.tech',
 'Sat',
 'Jan',
 '5',
 '09:14:19',
 '2008']

In [45]:
email = words_lists[1]
email

'jebiwottmaurine024@zindua.tech'

In [47]:
index =email.find('z')
index

19

In [49]:
print(email[19::1])

zindua.tech

Regular Expressions

In [51]:
#character classes - match specific types or sets of characters
#\d matches any digit (0-9)

import re 
print(re.findall(r'\d', 'Order 45 was placed in 2023 '))

['4', '5', '2', '0', '2', '3']

In [ ]:
#w+ matches any word character, 

print(re.findall(r'\w+', 'Weloome to Python 3!'))

['Weloome', 'to', 'Python', '3']

In [53]:
#Matches whitespaces, escape characters 

print(re.findall(r'\s', 'Hello world \n Goodbye \t world '))

[' ', ' ', '\n', ' ', ' ', '\t', ' ', ' ']

In [54]:
#[....] matches any characters in the brackets 
print(re.findall(r'[aeiou]', 'Maurine Jebiwott'))

['a', 'u', 'i', 'e', 'e', 'i', 'o']

r stands for raw strings, interpret is as it is aeiou is not a string

In [ ]:
#quantifiers - they control how many times the character can appear 
# \d+- digits appear one or more times 
print(re.findall(r'\d+', ' We have 12 cows , 4 goats, and 300 chickens.'))

['12', '4', '300']

In [56]:
# ? zero or one
# it can be there or not there(optional )
print(re.findall(r'colou?r', 'color and colour are both valid'))

['color', 'colour']

In [57]:
# * match an a, followed by zero or more bs 
print (re.findall(r'ab*','abb a abb abc'))

['abb', 'a', 'abb', 'ab']

In [58]:
# {m} m- times 
print(re.findall(r'\d{4}', 'My pin is 34 and 8907'))

['8907']

In [ ]:
#Anchors- They specify the position and not the matching pattern
# ^ - starts of a string 
print(re.findall(r'^Hello', 'Hello World Python'))

In [62]:
# $ - end of a string 
print(re.findall(r'World$', 'Hello World'))

['World']

In [59]:
# \b word boundry- used for eact matches of words

text = 'A cat sat on the catalog '
print(re.findall(r'\bcat\b ',text))

['cat ']

In [ ]:
import re

password = input("Enter a password: ")

# Regex explanation- with lookahead asertions
# - (?=.*[a-z])       → must contain at least one lowercase letter
# - (?=.*[A-Z])       → must contain at least one uppercase letter
# - (?=.*\d)          → must contain at least one digit
# - [A-Za-z\d]{8,}    → overall length is 8 or more and contains only letters and digits

pattern = r'^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$'

if re.fullmatch(pattern, password):
    print(" Password is valid.")
else:
    print("Password is invalid. Must be at least 8 characters, with uppercase, lowercase, and digit.")